*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.top-buttons{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: #282828;
}

.close, .lower, .full{
  width: 15px;
  height: 15px;
  border-radius: 20px;
  border: 0;
  font-size: 12px;
  margin-right: 10px;
}

.close{
  background-color: #FF8383;
  margin-left: 10px;
}

.lower{
  background-color: #EDCE7A;
}

.full{
  background-color: #59DA50;
}

.calculator-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 650px;
  border: 1px solid green;
  border-radius: 20px;
}

.display{
  padding: 20px;
  width: 100%;
  height: 20%;
  text-align: right;
  font-size: 90px;
  color: white;
  background-color: #282828;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 60%;
}

.button{
  flex: 1 1 25%;
  font-size: 25px;
  border: 0.5px solid black;
  background-color: #747474;
  color: white;
}

.zero{
  flex: 2 1 50%;
}

.button:hover{
  border: 0.5px solid black;
  background-color: #D5D5D5;
}

.button:active{
  background-color: cadetblue;
}

.operator{
  background-color: #FF9600;
}

.function{
  background-color: #505050;
}